<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mamn10grupp10.pulserunner">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewTrackActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RunActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StatisticsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".NewTrackRunning" />
        <activity
            android:name=".NewTrackPause"
            android:screenOrientation="portrait"
            android:parentActivityName=".NewTrackRunning" />
        <activity android:name=".NewTrackDone"
            android:screenOrientation="portrait"/>
        <activity android:name=".RunActivityTreadmillRunning"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RunActivityTreadmillPause"
            android:parentActivityName=".RunActivityRunning"
            android:screenOrientation="portrait"/>
        <activity android:name=".RunActivityRunning"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RunActivityPause"
            android:parentActivityName=".RunActivityRunning"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RunActivityTreadmill"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RunActivityFinish"
            android:screenOrientation="portrait"/>
        <activity android:name=".RunActivityTreadmillFinish"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewTest"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>